# Данные
data/raw/*
data/processed/images/*
data/processed/annotations/*
!data/raw/.gitkeep
!data/processed/images/.gitkeep
!data/processed/annotations/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Виртуальное окружение
venv/
ENV/

# Poetry
poetry.lock

# Логи и временные файлы
*.log
*.tmp
.DS_Store

# Модели
*.pth
